<!DOCTYPE html>
<html>
<head>

    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.504/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/angular.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.504/js/kendo.all.min.js"></script>
</head>
<body>
<div ng-app="KendoDemos">
    <div class="demo-section k-content" ng-controller="MyCtrl">
        <div class="box-col">
            <h4>TreeView</h4>
            <div kendo-tree-view="tree"
             k-data-source="treeData"
             k-on-change="selectedItem = dataItem">
                <span k-template>
                     {{dataItem.text}} <input ng-model="mflag" type="checkbox" ng-click='click(dataItem ,mflag)'/>
                 </span>
             </div>
        </div>
        <div class="box-col" ng-show="selectedItem">
          <h4>Selected: {{selectedItem.id}}  </h4>
        </div>
    </div>

<input type="text" input-disabled="editableInput" />
<button ng-click="editableInput = !editableInput">enable/disable</button>

    <style>
        .k-treeview .k-in {
            padding: 5px;
        }
    </style>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
      .controller("MyCtrl", function($scope){
          $scope.treeData = new kendo.data.HierarchicalDataSource({ data: [
            { text: "Item 1" , id: "id1" },
            { text: "Item 2",  id: "id2" , items: [
              { text: "SubItem 2.1" , id: "id2.1"},
              { text: "SubItem 2.2" , id: "id2.2"}
            ] },
            { text: "Item 3" , id: "id3"}
          ]});

          $scope.click = function(dataItem , mflag) {
            alert(mflag + " : " + dataItem.id);
          };


    })
    .directive("inputDisabled", function(){
      return function(scope, element, attrs){
        scope.$watch(attrs.inputDisabled, function(val){
          if(val)
            element.removeAttr("disabled");
          else
            element.attr("disabled", "disabled");
        });
      }
    })
</script>


</body>
</html>
