<div class="modal-header">
	<h3>금지시키려는 회원식별자를 입력하십시오.</h3>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body" style="height: 90px;">

		<div class="form-content">
            <div class="form-group">
                <label class="control-label col-md-3">식별자 <span class="required">
                    * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input id="u_nickname" ng-model="v.u_nickname" type="text" name="name" data-required="1" class="form-control" />
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button style="width: 100%;" ng-click="addMem(v)" class="btn purple"><i class="fa fa-check"></i> 추가</button>
</div>