<div class="modal-header">
	<h3>추가하려는 그룹명을 입력하십시오</h3>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body">

            <div class="form-group">
                <label class="control-label col-md-3">그룹종류 <span class="required">
                    * </span>
                </label>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-group"></i>
                        </span>
                        <select class="form-control form-filter input-sm" id="grouptype">
                            <option value="1">
                                관리자 그룹
                            </option>
                            <option value="2">
                                기타 그룹
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">그룹명 <span class="required">
                    * </span>
                </label>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-group"></i>
                        </span>
                        <input id="g_name" ng-model="v.g_name" type="text" name="name" data-required="1" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-md-3">그룹식별자 <span class="required">
                    * </span>
                </label>
                <div class="col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-group"></i>
                        </span>
                        <input id="g_id" ng-model="v.g_id" type="number" name="name" data-required="1" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button style="margin-top: 30px; width: 100%;" ng-click="addGr(v)" class="btn purple"><i class="fa fa-check"></i> 추가</button>
            </div>
</div>
<div class="modal-footer">
    
</div>