<div class="modal-header">
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
  </div>
<div class="modal-body" id="modal-body" style="height: 300px;">
	
	<label class="control-label col-md-12">Domain Name </label>
	
	<div class="form-group">

		
				<div class="col-md-12">
                      <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<input ng-model="v.dm_domain_name" type="text" data-required="1" class="form-control"/>
                      </div>
				</div>
	</div>
	
	<label class="control-label col-md-12">iP Address </label>
	
	<div class="form-group">
		
				<div class="col-md-12">
                        <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<input ng-model="v.dm_ipaddress" type="text" data-required="1" class="form-control"/>
                        </div>
				</div>
	</div>
	
	<label class="control-label col-md-12">Service Type </label>
	
	<div class="form-group">
		
				<div class="col-md-12">
                        <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<select ng-model="v.dm_service_type" style="width: 30%;"><option value="self">자체</option><option value="market">홍보</option></select>
                        </div>
				</div>
	</div>
	
	<div class="form-group">
		<button style=" margin-top: 10px; width: 100%;" ng-click="newDM(v)" class="btn purple"><i class="fa fa-check"></i> Add</button>
	</div>
</div>