<div class="modal-header">
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
  </div>
<div class="modal-body" id="modal-body" style="height: 200px;">
	
		<h3>{{myheader.sp_requested_id}}  의 요청을 처리하시겠습니까?</h3>
		<div class="span-12" style="    margin-top: 40px;">
			<div class="col-md-2" >
		    	
		    </div>
	    	<div class="col-md-3" >
		    	<button ng-disabled="isdisable == 1" style="width: 100%;" ng-click="accept(myheader)" class="btn purple"><i class="fa fa-check"></i> 승인</button>
		    </div>
		    <div class="col-md-2" >
		    	
		    </div>
		    <div class="col-md-3" >
		    	<button ng-disabled="isdisable == 1" style="width: 100%;" ng-click="decline(myheader)" class="btn purple"><i class="fa fa-times"></i> 취소</button>
	    	</div>
	    	<div class="col-md-2" >
		    	
		    </div>
	    </div>
</div>