<div class="modal-header">
	<h3>이벤트/보너스 실시 정보</h3>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body" style="height: 200px;">

    <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy 00:00:00">
                                                    <input id="fromdate" type="text" class="form-control form-filter input-sm"  name="product_created_from" placeholder="부터">
                                                    <span class="input-group-btn">
                                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
    
</div>
<div class="modal-footer">
    <button style="width: 100%;" ng-click="updateGr(v)" class="btn purple"><i class="fa fa-check"></i> 수정</button>
</div>