<div class="modal-header">
	<h3>제기된 의견에 대한 처리 및 확인</h3>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body" style="height: 300px;">

		<div class="form-content">
            <div class="note note-danger">
                    <h4 class="block">{{rep.m_title}}</h4>
                            <p>
                                {{rep.m_contents}}
                            </p>
            </div>
            <div>
                <span class="input-group-addon">
				    <i class="fa fa-align-left"></i> 처리된 내용
                </span>
                <textarea ng-model="rep.m_imp_contents" id="solvecontents" style="width:100%; height:100px;"  name="solvefield" >{{rep.m_imp_contents}}</textarea>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button style="width: 100%;" ng-click="implementing(rep)" class="btn purple"><i class="fa fa-check"></i> 처리</button>
</div>