<div class="modal-header">
	<h3>상세보기</h3>
	<h5>{{rcomment}}</h5>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body" >
	<loader
							working="working2"
							disable-background="true"
							message="message"
							template="9">
							</loader>
	<div style="float: left; margin-top: 7px;">
		<label>검색 : </label><input ng-change="mainProcessWhenClicked()" ng-model="searchKeyword" type="text" class="form-control form-filter input-sm" />
	</div>
	<div style=" float: right; margin-top: 7px; ">
		<label>항목수</label>
		<select name="per_page" ng-model="num_per_page" ng-init="num_per_page = '10'" ng-change="onChangeNum_perPage()" style="margin-top: 8px; float: right;">
				<option>5</option>
				<option>10</option>
				<option>15</option>
				<option>20</option>
		</select>
	</div>
	<div class="table-scrollable">
		<table id="myTable" class="table table-striped table-bordered table-hover">
			<thead>
                <tr>
					<th >
						이름
					</th>
					<th>
						금액
					</th>
				</tr>	
			</thead>
			<tbody>
				<tr ng-repeat="rou in rval">
					<td>
						{{rou.u_nickname}}
					</td>
					<td>
						{{rou.moneys}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<nav>
        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="pageChanged()"></ul>
    </nav>

</div>
<div class="modal-footer">
    <button style="background-color: dodgerblue;" style="width: 100%;" ng-click="exitMsg()" class="btn"> 확인</button>
</div>

<script>

</script>
