<div class="modal-header">
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
  </div>
<div class="modal-body" id="modal-body">

	<label class="control-label col-md-12">도움말 종류 </label>
	<div class="form-group">
		
				<div class="col-md-12">
                        <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<select ng-model="v.hn_type" id="hn_type" name="hn_type" class="form-control form-filter input-sm">
				                    <option value="1">FAQ</option>
				                    <option value="2">싸이트리용규정</option>
				                    <option value="3">회원정책</option>
				                    <option value="4">포커</option>
				            </select>
                        </div>
				</div>
	</div>
	<label class="control-label col-md-12">도움말 제목 </label>
	<div class="form-group">

		
				<div class="col-md-12">
                      <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<input ng-model="v.hn_title" type="text" data-required="1" class="form-control"/>
                      </div>
				</div>
	</div>
	
	<label class="control-label col-md-12">도움말 내용 </label>
	<div class="form-group">
		
				<div class="col-md-12">
                        <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<input ng-model="v.hn_comment" type="text" data-required="1" class="form-control"/>
                        </div>
				</div>
	</div>
	
	<div class="form-group">
		<button style=" margin-top: 10px; width: 100%;" ng-click="updateHelp(v)" class="btn green"><i class="fa fa-check"></i> 보존</button>
	</div>
</div>