<div class="modal-header">
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
  </div>
<div class="modal-body" id="modal-body">

	
	<label class="control-label col-md-12">공지사항 제목 </label>
	<div class="form-group">

		
				<div class="col-md-12">
                      <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<div
                            ckeditor="mcke.options"
							ng-model="mcke.content"
							></div>
                      </div>
				</div>
	</div>
	
	<label class="control-label col-md-12">공지사항 내용 </label>
	<div class="form-group">
		
				<div class="col-md-12">
                        <div class="input-group">
							<span class="input-group-addon">
							<i class="fa fa-ge"></i>
							</span>
							<input ng-model="v.hn_comment" type="text" data-required="1" class="form-control"/>
                        </div>
				</div>
	</div>
	
	<div class="form-group">
		<button style=" margin-top: 10px; width: 100%;" ng-click="updateHelp(v)" class="btn purple"><i class="fa fa-check"></i> 보존</button>
	</div>
</div>