<div class="modal-header">
	<h3>수정하시려는 그룹정보입니다.</h3>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body" style="height: 170px;">

		<div class="form-content">
            <div class="form-group">
                <label class="control-label col-md-3">그룹명 <span class="required">
                    * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-group"></i>
                        </span>
                        <input id="g_name" ng-model="v.g_name" type="text" name="name" data-required="1" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group" >
                <label class="control-label col-md-3">그룹식별자 <span class="required">
                    * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-group"></i>
                        </span>
                        <input disabled id="g_name" ng-model="v.g_id" type="number" name="name" data-required="1" class="form-control" />
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="modal-footer">
    <button style="width: 100%;" ng-click="updateGr(v)" class="btn purple"><i class="fa fa-check"></i> 수정</button>
</div>