<div class="modal-header">
	<h3>새로운 경보기능정보를 간단히 입력하십시오.</h3>
    <button class="close" data-dismiss="modal" style="line-height: 0;" ng-click="exitMsg()">
              <span style="font-size:50px;vertical-align:text-top;" >&times;</span>
    </button>
</div>
<div class="modal-body" id="modal-body" style="height: 360px;">

		<div class="form-content">
            
            <div class="tabbable tabbable-tabdrop">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tab1" data-toggle="tab">English</a>
                                        </li>
                                        <li>
                                            <a href="#tab2" data-toggle="tab">Chinese</a>
                                        </li>
                                        <li>
                                            <a href="#tab3" data-toggle="tab">Korean</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <label class="control-label col-md-2">경보 제목 <span class="required">
                                                * </span>
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-header"></i>
                                                        </span>
                                                            <input ng-model="v.a_title.a_en" id="title1" type="text" name="gtitle1" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <label class="control-label col-md-2">경보 내용 
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-align-left"></i>
                                                        </span>
                                                        <textarea ng-model="v.a_content.a_en" id="description1" name="gdescription1" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <label class="control-label col-md-2">경보 제목 <span class="required">
                                                * </span>
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-header"></i>
                                                        </span>
                                                            <input ng-model="v.a_title.a_ch" id="title2" type="text" name="gtitle2" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <label class="control-label col-md-2">경보 내용 
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-align-left"></i>
                                                        </span>
                                                        <textarea ng-model="v.a_content.a_ch" id="description2" name="gdescription2" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <label class="control-label col-md-2">경보 제목 <span class="required">
                                                * </span>
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-header"></i>
                                                        </span>
                                                            <input ng-model="v.a_title.a_kr" id="title3" type="text" name="gtitle3" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                </div>
                                                <label class="control-label col-md-2">경보 내용 
                                                </label>
                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                        <i class="fa fa-align-left"></i>
                                                        </span>
                                                        <textarea ng-model="v.a_content.a_kr" id="description3" name="gdescription3" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

            <div class="form-group">
                <label class="control-label col-md-3">코드구현 상태 <span class="required">
                    * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-magic"></i>
                        </span>
                        <select ng-model="fstatus" style="width: 30%;">
                            <option value="1" >구현됨</option>
                            <option value="2" >구현안됨</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">경보설정 상태 <span class="required">
                    * </span>
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-magic"></i>
                        </span>
                        <select ng-model="sstatus" style="width: 30%;">
                            <option value="1" >설정</option>
                            <option value="2" >해제</option>
                        </select>
                    </div>
                </div>
            </div>

            
    </div>
</div>
<div class="modal-footer">
    <button style="width: 100%;" ng-click="updatealarm(v , fstatus , sstatus)" class="btn purple"><i class="fa fa-check"></i> 수정</button>
</div>