<!DOCTYPE html>
<html lang="en" ng-app="BlogApp">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="app.js"></script>
  <meta charset="utf-8">
  <title>tITLE</title>
</head>
<body>
  <div class="container" ng-controller="BlogController">
    <h1>Blog</h1>
    <input ng-model="post.title" class="form-control" placeholder="title"/>
    <textarea ng-model="post.body" class="form-control" placeholder="body"></textarea>
    <button ng-click="createPost(post)" class="btn btn-primary btn-block">post</button>
    <button ng-click="updatePost(post)" class="btn btn-success btn-block">update</button>
    <div ng-repeat="post in posts">
      <h2>
        {{post.title}}
        <a ng-click="editPost(post._id)" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        <a ng-click="deletePost(post._id)" class="pull-right"><span class="glyphicon glyphicon-remove"></span></a>
      </h2>
      <em>{{post.posted}}</em>
      <p>{{post.body}}</p>

    </div>


  </div>
</body>
</html>
