<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.2
Version: 3.7.0
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="ServerApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>관리부 | 가입창 </title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/admin/pages/css/login3.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="../../assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>


<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
	<a href="index.html">
	<img src="../../assets/admin/layout2/img/logo-big.png" alt=""/>
	</a>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content" ng-controller="LRFController">

	<!-- BEGIN LOGIN FORM -->
	<div class="login-form">
		<h3 class="form-title">계정에 가입하십시오</h3>
		<div class="alert alert-danger display-hide">
			<button class="close" data-close="alert"></button>
			<span>
			임의의 사용자식별자와 암호를 입력하십시오. </span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">사용자식별자</label>

			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input ng-model="userobj.u_id" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="사용자식별자" name="username"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">암호</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input ng-model="userobj.u_pw" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="암호" name="password"/>
			</div>
		</div>
		<div class="form-actions">
			<label class="checkbox">
			<input type="checkbox" name="remember" value="1"/> 정보를 보관 </label>
			<button ng-click="userCheck(userobj)" class="btn green-haze pull-right">
			가입 <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
		<div class="login-options">
			<h4>SNS 로 가입하시겠습니까?</h4>
			<ul class="social-icons">
				<li>
					<a class="facebook" data-original-title="facebook" href="javascript:;">
					</a>
				</li>
				<li>
					<a class="twitter" data-original-title="Twitter" href="javascript:;">
					</a>
				</li>
				<li>
					<a class="googleplus" data-original-title="Goole Plus" href="javascript:;">
					</a>
				</li>
				<li>
					<a class="linkedin" data-original-title="Linkedin" href="javascript:;">
					</a>
				</li>
			</ul>
		</div>
		<div class="forget-password">
			<h4>암호를 잊으셨습니까 ?</h4>
			<p>
				 걱정마십시오, <a href="javascript:;" id="forget-password">
				이것 </a>
				을 통하여 암호를 재생할수 있습니다 .
			</p>
		</div>
		<div class="create-account">
			<p>
				 가입정보가 등록되있지 않습니까 ?&nbsp; <a href="javascript:;" id="register-btn">
				등록하십시오 </a>
			</p>
		</div>
	</div>
	<!-- END LOGIN FORM -->
	<!-- BEGIN FORGOT PASSWORD FORM -->
	<div class="forget-form">
		<h3>암호를 잊으셨습니까 ?</h3>
		<p>
			 아래의 항목에 등록하시였던 전자우편주소를 입력해주십시오.
		</p>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input ng-model="forget.u_email" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="전자우편주소" name="email"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn">
			<i class="m-icon-swapleft"></i> 되돌이 </button>
			<button ng-click="doRemember(forget)" class="btn green-haze pull-right">
			확인 <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</div>
	<!-- END FORGOT PASSWORD FORM -->
	<!-- BEGIN REGISTRATION FORM -->
	<div class="register-form">
		<h3>사용자정보 등록</h3>
		<p>
			 개인정보를 등록하십시오:
		</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">이름</label>
			<div class="input-icon">
				<i class="fa fa-font"></i>
				<input ng-model="reg.u_nickname" class="form-control placeholder-no-fix" type="text" placeholder="이름" name="fullname"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">전자우편주소</label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input ng-model="reg.u_email" class="form-control placeholder-no-fix" type="text" placeholder="전자우편주소" name="email"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">전화번호</label>
			<div class="input-icon">
				<i class="fa fa-phone"></i>
				<input ng-model="reg.u_phone" class="form-control placeholder-no-fix" type="text" placeholder="전화번호" name="address"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">그룹식별자</label>
			<select ng-model="reg.u_groupid" name="country" class="select2 form-control" >
				<option value="">-- select group --</option>
				<option ng-repeat="gtype in gtypes" value="{{gtype.g_id}}">{{gtype.g_name}}</option>
			</select>
		</div>

		<p>
			 구체적인 가입정보를 입력하십시오:
		</p>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">사용자식별자</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input ng-model="reg.u_id" class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="사용자식별자" name="username"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">암호</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input ng-model="reg.u_pw" class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="암호" name="password"/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">암호 확인</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input ng-model="reg.u_cpw" class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="암호 확인" name="rpassword"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>
			<input ng-model="reg.checkval" type="checkbox" name="tnc"/><a href="javascript:;">
			봉사원칙 </a>
			와 <a href="javascript:;">
			가입질서 </a> 준수하겠습니다.
			</label>
			<div id="register_tnc_error">
			</div>
		</div>
		<div class="form-actions">
			<button id="register-back-btn" type="button" class="btn">
			<i class="m-icon-swapleft"></i> 되돌이 </button>
			<button ng-click="userRegister(reg)" id="register-submit-btn" class="btn green-haze pull-right">
			등록 <i class="m-icon-swapright m-icon-white"></i>
			</button>
		</div>
	</div>
	<!-- END REGISTRATION FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	 2014 &copy; Metronic. Admin Dashboard Template.
</div>
<!-- END COPYRIGHT -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script>
<![endif]-->


<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="../../assets/admin/pages/scripts/login.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<script src="../../angularjs/angular.min.js"></script>

<script src="global_module.js"></script>
<script src="lrfapp.js"></script>

<script>
jQuery(document).ready(function() {
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  Login.init();
  Demo.init();
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
