

					<li ng-show="fang.ac_zhong >= 2" class="start ">
						<a href="server-page1.html">
						<i class="icon-home"></i>
						<span class="title">종합</span>
						</a>
					</li>
					<li ng-show="fang.ac_payments >= 2" class="start ">
						<a href="server-page18.html">
						<i class="icon-present"></i>
						<span class="title">결산</span>
						</a>
					</li>
					<li ng-show="((fang.ac_report >= 2) || (fang.ac_sendmsm >= 2) || (fang.ac_showmsm >= 2))">
						<a href="javascript:;">
						<i class="icon-envelope-open"></i>
						<span class="title">통보문/의견</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li ng-show="fang.ac_report >= 2">
								<a href="server-page10.html">
								의견목록관리</a>
							</li>
							<li ng-show="fang.ac_sendmsm > 2">
								<a href="server-page10(sendmessage).html">
								통보문 송신</a>
							</li>
                            <li ng-show="fang.ac_showmsm >= 2">
								<a href="server-page10(messagehistory).html">
								통보문 송신리력</a>
							</li>
						</ul>
					</li>
					<li ng-show="( (fang.ac_gongji >= 2) || (fang.ac_help >= 2) )">
						<a href="javascript:;">
						<i class="icon-paper-plane"></i>
						<span class="title">공지사항 및 도움말</span>
						</a>
						<ul class="sub-menu">
							<li ng-show="fang.ac_gongji >= 2">
								<a href="server-page17(gongji).html">
								공지사항</a>
							</li>
							<li ng-show="fang.ac_help >= 2">
								<a href="server-page17(help).html">
								도움말</a>
							</li>
						</ul>
					</li>
					<li ng-show="fang.ac_sp >= 2">
						<a href="server-page2.html">
						<i class="icon-basket"></i>
						<span class="title">충환전</span>
						</a>
					</li>
					<li ng-show="fang.ac_visitor >= 2">
						<a href="server-page7.html">
						<i class="icon-user"></i>
						<span class="title">회원관리</span>
						</a>
					</li>
					<li ng-show="fang.ac_shop >= 2">
						<a href="server-page8.html">
						<i class="icon-pointer"></i>
						<span class="title">대리점관리</span>
						</a>
					</li>
					<li ng-show="( (fang.ac_allgame >= 2) || (fang.ac_pokerhistory >= 2) )">
						<a href="javascript:;">
						<i class="icon-game-controller"></i>
						<span class="title">게임리력(Multi)</span>
						</a>
						<ul class="sub-menu">
							<li ng-show="fang.ac_allgame >= 2">
								<a href="server-page3.html">
								게임 전반상황</a>
							</li>
							<li ng-show="fang.ac_pokerhistory >= 2">
								<a href="server-page3(poker).html">
								Poker리력</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
						<i class="icon-game-controller"></i>
						<span class="title">게임리력(Single)</span>
						</a>
					</li>
					<li ng-show="fang.ac_gamemanage >= 2">
						<a href="server-page9.html">
						<i class="icon-puzzle"></i>
						<span class="title">게임관리</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<span class="title">체육추첨</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<span class="title">경마</span>
						</a>
					</li>
					<li>
						<a href="server-page11.html">
						<i class="icon-bar-chart"></i>
						<span class="title">통계</span>
						</a>
					</li>
					<li ng-show="fang.ac_security >= 2">
						<a href="server-page12.html">
						<i class="icon-wallet"></i>
						<span class="title">보안설정</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<i class="icon-settings"></i>
						<span class="title">체계설정</span>
						</a>
					</li>
					<li ng-show="( (fang.ac_eb_reg >= 2) || (fang.ac_eb_imp >= 2) )">
						<a href="javascript:;">
						<i class="icon-diamond"></i>
						<span class="title">이벤트 / 보너스 설정</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li ng-show="fang.ac_eb_reg >= 2">
								<a href="server-page14-register.html">
								이벤트 / 보너스 등록</a>
							</li>
							<li ng-show="fang.ac_eb_imp >= 2">
								<a href="server-page14-implement.html">
								이벤트 / 보너스 구현</a>
							</li>
						</ul>
					</li>
					<li ng-show="( (fang.ac_groupmanage >= 2) || (fang.ac_manager >= 2) )">
						<a href="javascript:;">
						<i class="icon-user-follow"></i>
						<span class="title">그룹설정</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li ng-show="fang.ac_groupmanage >= 2">
								<a href="server-page15.html">
								그룹관리</a>
							</li>
							<li ng-show="fang.ac_manager >= 2">
								<a href="server-page15(list).html">
								관리자 목록</a>
							</li>
						</ul>
					</li>
					<li ng-show="fang.ac_allows >= 2" class="last ">
						<a href="server-page16.html">
						<i class="icon-lock"></i>
						<span class="title">권한설정</span>
						</a>
					</li>