
					<li class="start ">
						<a href="server-page1.html">
						<i class="icon-home"></i>
						<span class="title">종합</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<i class="icon-envelope-open"></i>
						<span class="title">통보문/의견</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="server-page10.html">
								의견목록관리</a>
							</li>
							<li>
								<a href="server-page10(sendmessage).html">
								통보문 송신</a>
							</li>
                            <li>
								<a href="server-page10(messagehistory).html">
								통보문 송신리력</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="server-page2.html">
						<i class="icon-basket"></i>
						<span class="title">충환전</span>
						</a>
					</li>
					<li>
						<a href="server-page7.html">
						<i class="icon-user"></i>
						<span class="title">회원관리</span>
						</a>
					</li>
					<li>
						<a href="server-page8.html">
						<i class="icon-pointer"></i>
						<span class="title">대리점관리</span>
						</a>
					</li>
					<li>
						<a href="server-page3.html">
						<i class="icon-game-controller"></i>
						<span class="title">게임리력</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<span class="title">체육추첨</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<span class="title">경마</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
						<i class="icon-bar-chart"></i>
						<span class="title">통계</span>
						<span class="arrow "></span>
						</a>
						<ul class="sub-menu">
							<li>
								<a href="server-page11.html">
								통계분석</a>
							</li>
							<li>
								<a href="server-page11(history).html">
								통계리력</a>
							</li>
						</ul>
					</li>