
					<li ng-style="statusbox" class="dropdown dropdown-user" style="width: 100px;" >
						<div style="width: 100%;" id="myTopnav" ng-include="topnav.url" ng-class="{' topnav responsive':collapsed,' topnav':!collapsed}" ng-model="collapsed">
		  
		 				</div>
					</li>
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="../../assets/admin/layout2/img/avatar3_small.jpg"/>
						<span class="username username-hide-on-mobile">
						Nick </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a href="#" ng-click="myinfo()">
								<i class="icon-user"></i> 나의 정보 </a>
							</li>
							<li>
								<a href="server-pagePayment.html" ng-click="myPayment()">
								<i class="fa fa-bank"></i> 지불방식설정 </a>
							</li>
							<li>
								<a href="server-pageRW.html" ng-click="myRW()">
								<i class="fa fa-exchange"></i> 충환전요청 </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="/index.html" ng-click="logout_func()">
								<i class="icon-key"></i> 가입탈퇴 </a>
							</li>
						</ul>
					</li>