					
					<li ng-show="fang.ac_allstatus >= 2" ng-style="statusbox" class="dropdown dropdown-user" style="width: 100px;" >
						<div style="width: 100%;" id="myTopnav" ng-include="topnav.url" ng-class="{' topnav responsive':collapsed,' topnav':!collapsed}" ng-model="collapsed">
		  
		 				</div>
					</li>
					<li ng-show="fang.ac_allnotify >= 2" class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar" >
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<i class="icon-bell"></i>
						<span class="badge badge-default">
						{{len}} </span>
						</a>
						<ul class="dropdown-menu">
							<li class="external">
								<h3><span class="bold">{{len}} unread</span> notifications</h3>
								<a href="notice_history.html" ng-click="closeNav(13)">view all</a>
							</li>
							<li>
								<ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
									<li ng-click="notify_clicked(item)" ng-repeat="item in ur">
										<a href="javascript:;">
										<span class="details">
										<span class="label label-sm label-icon label-warning">
										<i class="fa fa-bell-o"></i>
										</span>
										Irregular action in {{item.am_target}} 's account </span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<img alt="" class="img-circle" src="../../assets/admin/layout2/img/avatar3_small.jpg"/>
						<span class="username username-hide-on-mobile">
						Nick </span>
						<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li ng-show="fang.ac_myinfo >= 2">
								<a href="#" ng-click="myinfo()">
								<i class="icon-user"></i> 나의 정보 </a>
							</li>
							<li ng-show="fang.ac_pmethod >= 2">
								<a href="server-pagePayment.html" ng-click="myPayment()">
								<i class="fa fa-bank"></i> 지불방식설정 </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="/index.html" ng-click="logout_func()">
								<i class="icon-key"></i> 가입탈퇴 </a>
							</li>
						</ul>
					</li>

