<a href="#" ng-click="closeNav(1)">오늘 회원가입수
		  	<span class="badge badge-default" id="allinfo">{{as.today_lg_visitor}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(2)">오늘 업체가입수
		  	<span class="badge badge-default" id="allinfo">{{as.today_lg_shop}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(3)">회원충전요청
		  	<span class="badge badge-default" id="allinfo">{{as.v_save_req}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(4)">업체충전요청
		  	<span class="badge badge-default" id="allinfo">{{as.s_save_req}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(5)">회원환전요청
		  	<span class="badge badge-default" id="allinfo">{{as.v_pay_req}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(6)">업체환전요청
		  	<span class="badge badge-default" id="allinfo">{{as.s_pay_req}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(7)">회원충전완료
		  	<span class="badge badge-default" id="allinfo">{{as.v_save_done}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(8)">회원환전완료
		  	<span class="badge badge-default" id="allinfo">{{as.v_pay_done}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(9)">업체충전완료
		  	<span class="badge badge-default" id="allinfo">{{as.s_save_done}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(10)">업체환전완료
		  	<span class="badge badge-default" id="allinfo">{{as.s_pay_done}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(11)">문의요청
		  	<span class="badge badge-default" id="allinfo">{{as.report_req}}</span>
		  </a>
		  <a href="#" ng-click="closeNav(12)">문의완료
		  	<span class="badge badge-default" id="allinfo">{{as.report_done}}</span>
		  </a>
		  <a href="javascript:void(0);" style="font-size:15px;" class="icon" ng-click="collapsed=!collapsed">&#9776;</a>